.row {
    max-width: $grid-width;
    background-color: #eee;
    margin: 0 auto; // margin on top and bottom is 0. left and right is auto
    
    &:not(:last-child) {
        margin-bottom: $gutter-vertical;       
    }

    @include claerfix;

    .col-1-of-2 {
        width: calc((100% - #{$gutter-horizontal}) / 2);
        // you use #{} for SCSS into CSS variable interpolation
            // The calc function is CSS specific
        background-color: orange;
        float: left;

        &:not(:last-child) {
            margin-right: $gutter-horizontal;
        }
    }
}